@{
    Layout = "~/Views/Shared/MasterAdiministrador.cshtml";
}

<div class="">
    <div class="img-fluid">
        <img src="~/fonts/emConstrucao.jpg" height="100%" width="100%" />
    </div>
</div>

