@model IEnumerable<TrabalhoTcc.Models.Conta.LoginFuncionario>
@{
    Layout = "~/Views/Shared/MasterAdiministrador.cshtml";
}

@section styles{
    <link href="~/Content/datatables.net/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/datatables.net/buttons.dataTables.min.css" rel="stylesheet" />
}
<h3 class="text-center">Usuários dos funcionários:</h3>
<div class="x_panel table-responsive">
    <table class="table table-striped" id="tableUsuarios">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th class="">Ações:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "AlterarLogin", new { id = item.Id }, new { @class = "fa fa-pencil btn btn-dark" })
                        @Html.ActionLink(" ", "Deletar", new { id = item.Id }, new { @class = "fa fa-trash btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
@section scripts{

    <script src="~/Content/datatables.net/jquery.dataTables.min.js"></script>

    <script src="~/Content/datatables.net/dataTables.buttons.min.js"></script>
    <script src="~/Content/datatables.net/buttons.flash.min.js"></script>
    <script src="~/Content/datatables.net/buttons.html5.min.js"></script>
    <script src="~/Content/datatables.net/buttons.print.min.js"></script>

    <script src="~/Scripts/historico/index.js"></script>

}
