@model TrabalhoTcc.Models.Conta.LoginFuncionario
@{

    Layout = "/Views/Shared/Master.cshtml";
}

<div class="container mt-3 mb-3">

    <div class="row">

        <!--Parte de baixo = Cadastro de cliente-->
        <div class="col-md-12 mt-5">

                     <h1 class="text-center">Area Restrita</h1>
            <h3 class="text-center">Informe seu Usuário e Senha</h3>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-4">
            @using (Html.BeginForm("Login", "ContaFuncionario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label for="campo-usuario">Usuário:</label>
                    @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="campo-senha">Senha:</label>
                    @Html.TextBoxFor(m => m.Senha, new { @class = "form-control", @type = "password" })
                </div>
                <hr />
                <div class="row">
                    <div class="offset-5">

                        <div class="form-group">
                           <button type="submit" class="btn btn-outline-success" name="btnEnviar" id="btnEnviar">
                                    <i class="fa fa-save"> Entrar</i>
                           </button>
                        </div>

                    </div>
                </div>
            }
        </div>
        <div class="col-md-4"></div>
    </div>
</div>