@{
    Layout = "/Views/Shared/Master.cshtml";
}

<div class="container mt-3 mb-3">
    <div class="row">
        <!--Parte de baixo = Cadastro de cliente-->
        <div class="col-md-12">
            <h3 class="text-center">Antes de tudo, preencha seus dados</h3>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-4">
            <form action="/ContaCliente/CriarConta" class="form-horizontal" method="post">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="campo-nome">Nome:</label>
                            <input type="text" class="form-control" name="Cliente.Nome" id="campo-nome" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="campo-data-nascimento">Data de Nascimento:</label>
                            <input type="date" class="form-control" name="Cliente.Data_Nascimento" id="campo-dat-nascimento" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="campo-celular">Celular:</label>
                            <input type="text" class="form-control" name="Cliente.Celular" id="campo-celular" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="campo-telefone">Telefone:</label>
                            <input type="text" class="form-control" name="Cliente.Telefone" id="campo-telefone" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="campo-email">Email:</label>
                            <input type="text" class="form-control" name="Cliente.Email" id="campo-email" />
                        </div>
                    </div>
                </div>

                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="campo-usuario">Usuario</label>
                            <input type="text" class="form-control" name="LoginCliente.Usuario" id="campo-usuario" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="campo-senha">Senha</label>
                            <input type="text" class="form-control" name="LoginCliente.Usuario" id="campo-senha" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="campo-confirmarSenha">Confirmar Senha:</label>
                            <input type="text" class="form-control" name="" id="campo-confirmarSenhaa" />
                        </div>
                    </div>
                </div>





                @* ÁREA COM CHECKED "NÃO SOU UM ROBÔ" *@
                <hr />
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-12">
                                @*<button type="submit" class="btn btn-outline-success" name="btnEnviar" id="btnEnviar">
                                    <i class="fa fa-save"> Cadastrar</i>
                                </button>*@
                                <a href="/Home/SolicitarAgendamento" class="btn btn-success mt-3">Cadastrar</a>
                                <button type="reset" class="btn btn-outline-danger float-right" name=" btnLimpar" id="btnLimpar">
                                    <i class="fa fa-trash"> Limpar</i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>