
*.lock
*.csproj
TrabalhoTcc/TrabalhoTcc.v12.suo
*.suo
*.csproj
*.csproj
*.csproj
TrabalhoTcc/TrabalhoTcc/TrabalhoTcc.csproj
TrabalhoTcc/TrabalhoTcc.v12.suo
*.cache
TrabalhoTcc/TrabalhoTcc.v12.suo
*.suo
*.suo
*.csproj
*.suo
TrabalhoTcc/TrabalhoTcc/Migrations/*
TrabalhoTcc/.vs/config/applicationhost.config
TrabalhoTcc/.vs/TrabalhoTcc/v15/.suo
TrabalhoTcc/.vs/TrabalhoTcc/v15/Server/sqlite3/storage.ide-shm
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.dll
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.pdb
TrabalhoTcc/TrabalhoTcc/obj/Debug/TrabalhoTcc.csproj.CopyComplete
TrabalhoTcc/TrabalhoTcc/obj/Debug/TrabalhoTcc.csproj.FileListAbsolute.txt
TrabalhoTcc/TrabalhoTcc/obj/Debug/TrabalhoTcc.pdb
TrabalhoTcc/TrabalhoTcc/obj/Debug/Tsc.out
TrabalhoTcc/TrabalhoTcc/TrabalhoTcc.csproj
TrabalhoTcc/.vs/TrabalhoTcc/v15/Server/sqlite3/storage.ide-wal
TrabalhoTcc/.vs/TrabalhoTcc/v15/Server/sqlite3/storage.ide
TrabalhoTcc/TrabalhoTcc/TrabalhoTcc.csproj
TrabalhoTcc/TrabalhoTcc.v12.suo
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.dll
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.dll.config
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.pdb
TrabalhoTcc/TrabalhoTcc/obj/Debug/TrabalhoTcc.dll
TrabalhoTcc/TrabalhoTcc/obj/Debug/TrabalhoTcc.pdb
TrabalhoTcc/TrabalhoTcc/TrabalhoTcc.csproj
TrabalhoTcc/TrabalhoTcc/Web.config
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.dll.config
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.dll
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.dll.config
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.pdb
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.pdb
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.dll.config
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.dll
TrabalhoTcc/TrabalhoTcc.v12.suo
TrabalhoTcc/TrabalhoTcc/obj/Debug/TrabalhoTcc.dll
TrabalhoTcc/TrabalhoTcc/obj/Debug/TrabalhoTcc.pdb
TrabalhoTcc/TrabalhoTcc/TrabalhoTcc.csproj
TrabalhoTcc/TrabalhoTcc/Web.config
TrabalhoTcc/TrabalhoTcc/TrabalhoTcc.csproj
TrabalhoTcc/TrabalhoTcc/obj/Debug/TrabalhoTcc.pdb
TrabalhoTcc/TrabalhoTcc/obj/Debug/TrabalhoTcc.dll
TrabalhoTcc/TrabalhoTcc/DataSet/TCC_log.ldf
TrabalhoTcc/TrabalhoTcc/DataSet/TCC.mdf
TrabalhoTcc/TrabalhoTcc/DataSet/dbTCC_log.ldf
TrabalhoTcc/TrabalhoTcc/DataSet/dbTCC.mdf
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.pdb
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.dll.config
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.dll
TrabalhoTcc/TrabalhoTcc.v12.suo
TrabalhoTcc/TrabalhoTcc/obj/Debug/TrabalhoTcc.csproj.FileListAbsolute.txt
TrabalhoTcc/TrabalhoTcc/TrabalhoTcc.csproj
TrabalhoTcc/TrabalhoTcc/obj/Debug/TrabalhoTcc.pdb
TrabalhoTcc/TrabalhoTcc/obj/Debug/TrabalhoTcc.dll
TrabalhoTcc/TrabalhoTcc/obj/Debug/TrabalhoTcc.csproj.FileListAbsolute.txt
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.pdb
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.dll.config
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.dll
TrabalhoTcc/TrabalhoTcc/App_Data/Tcc_log.ldf
TrabalhoTcc/TrabalhoTcc/App_Data/Tcc.mdf
TrabalhoTcc/TrabalhoTcc.v12.suo
TrabalhoTcc/TrabalhoTcc.v12.suo
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.pdb
TrabalhoTcc/TrabalhoTcc/bin/TrabalhoTcc.dll
TrabalhoTcc/TrabalhoTcc/App_Data/Tcc21_log.ldf
TrabalhoTcc/TrabalhoTcc/App_Data/Tcc21.mdf
TrabalhoTcc/TrabalhoTcc.v12.suo
TrabalhoTcc/TrabalhoTcc/obj/Debug/TrabalhoTcc.dll
TrabalhoTcc/TrabalhoTcc/obj/Debug/TrabalhoTcc.pdb
TrabalhoTcc/TrabalhoTcc/TrabalhoTcc.csproj
TrabalhoTcc/TrabalhoTcc/obj/Debug/TrabalhoTcc.csproj.FileListAbsolute.txt
TrabalhoTcc/.vs/config/applicationhost.config
TrabalhoTcc/.vs/TrabalhoTcc/v15/Server/sqlite3/storage.ide-shm
TrabalhoTcc/.vs/TrabalhoTcc/v15/Server/sqlite3/storage.ide-wal
