
@{
    Layout = "~/Views/Shared/MasterAdiministrador.cshtml";
}

<div class="offset-2">
    <div class="container" style="margin-top: 50px">
        <div class="col-md-12">
            <div class="container border">
                <form action="/Adm/StoreCargo" class="form-horizontal" method="post">

                    <div class="form-group">
                        <label for="campo-nome-cargo">Nome do cargo</label>
                        <input type="text" class="form-control" name="Cargo.Nome" id="campo-nome-cargo" />
                    </div>

                    <div class="form-group">
                        <label for="campo-descricao">Descricao do cargo</label>
                        <input type="text" class="form-control" name="Cargo.Descricao" id="campo-descricao" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success" name="btnEnviar">
                            Cadastrar
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>