
@{
    Layout = "~/Views/Shared/MasterAdiministrador.cshtml";
}

<div class="offset-2">
    <div class="container style=" style="margin-top: 50px">
        <div class="col-md-12">
            <div class="container border">
                <form action="/Login/Store" class="form-horizontal" method="post">

                    <br />
                    <h4>Informações pessoais</h4>
                    <br />
                    <div class="form-group">
                        <label for="campo-nome">Nome:</label>
                        <input type="text" class="form-control" name="Nome" id="campo-nome" />
                    </div>

                  
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="campo-cpf">Cpf</label>

                                <input type="text" class="form-control" id="campo-cpf" name="cpf" onblur="ValidarCPF(form1.cpf);" 
                                       onkeypress="MascaraCPF(form1.cpf);" maxlength="14">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="campo-ctps">Ctps</label>
                                <input type="text" class="form-control" name="" id="campo-ctps" />

                            </div>
                        </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="campo-data-nascimento">Data de Nascimento:</label>
                                    <input type="date" class="form-control" name="" id="campo-dat-nascimento" />
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="campo-cargo">Cargo</label>
                                    <select id="campo-cargo"
                                            name="" class="custom-select">
                                        @foreach (TrabalhoTcc.Models.Cargo cargo in @ViewBag.Cargo)
                                        {
                                            <option value="0">@cargo.Nome</option>
                                        }

                                        
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                 
                            




                            <hr />
                            <h4>Contatos</h4>    
                            <br />
                            <div class="row">
                                

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="campo-telefone">Telefone</label>

                                            <input type="text" class="form-control" id="campo-telefone" name="telefone" onblur="ValidarTelefone(form1.telefone);"
                                                   onkeypress="MascaraTelefone(form1.telefone);" maxlength="14">




                                            <input type="text" class="form-control" name="" id="campo-telefone" />
                                        </div>
                                    </div>

                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="campo-celular">Celular</label>
                                                <input type="text" class="form-control" name="" id="campo-celular" />
                                            </div>
                                        </div>

                                        
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="campo-telefone-recado">Telefone de recado</label>
                                                    <input type="text" class="form-control" name="" id="campo-telefone-recado" />
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="campo-telefone-recado">Nome</label>
                                                    <input type="text" class="form-control" name="" id="campo-telefone-recado" />
                                                </div>
                                            </div>


                                          

                                        <div class="form-group">
                                            <label for="campo-email">Email:</label>
                                            <input type="email" class="form-control" name="" id="campo-email" />
                                        </div>


                                    
                            </div>







                             <hr />
                                <h4>Endereco</h4>
                                <br />
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="campo-endereco">Endereco</label>
                                        <input type="text" class="form-control" name="" id="campo-endereco" />
                                    </div>
                                </div>
                                    </div>


                            
                    <hr />
                    <h4>Dados Funcionais</h4>
                    <br />
                    <div class="form-group">
                        <label for="campo-cargo">Cargo</label>
                        <input type="email" class="form-control" name="" id="campo-cargo" />
                    </div>


                    </div>

                    <hr />
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-12">
                                    <button type="submit" class="btn btn-outline-success" name="btnEnviar" id="btnEnviar">
                                        <i class="fa fa-save"> Cadastrar</i>
                                    </button>
                                    <button type="reset" class="btn btn-outline-danger float-right" name=" btnLimpar" id="btnLimpar">
                                        <i class="fa fa-trash"> Limpar</i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
