
@{
    ViewBag.Title = "Caixa";
    Layout = "~/Views/Shared/MasterAdiministrador.cshtml";
}



<div class="offset-2">
<div class="container-fluid border">

    <!--caixa-->

    <div class="form-group">
        <label>Valor</label>
        <input type="text" />
    </div>

    <div class="form-group">
        <label>Dinheiro</label>
        <input type="text" />
    </div>

    <div class="form-group">
        <label>Troco</label>
        <input type="text" />
    </div>



    <button>Finalizar Venda</button>
</div>

    <div>

        <!--informacoes do servico-->

        <label>Servico</label>
        <label>Cliente</label>
        <label>Funcionario</label>
    </div>





</div>

