
@{
    Layout = "~/Views/Shared/MasterAdiministrador.cshtml";
}

<div class="offset-2">
    <div class="container-fluid" style="margin-top: 50px">
        <hr />
        <h1>CONSULTAR CARGOS</h1>
        <hr />

        <div id="list" class="row">
            <div class="table-responsive col-md-12">
                <table class="table table-striped" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TrabalhoTcc.Models.Cargo cargo in @ViewBag.Cargo)
                        {
                            <tr>
                                <th>@cargo.Id</th>
                                <th>@cargo.Nome</th>
                                <th>@cargo.Descricao</th>
                            </tr>
                        }
                        
                        
                        
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>
