@{
    Layout = "/Views/Shared/MasterADM.cshtml";
}

<div>
    

    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'cliente')">CLIENTE</button>
        <button class="tablinks" onclick="openCity(event, 'funcionario')">FUNCIONARIO</button>
        <button class="tablinks" onclick="openCity(event, 'confuncionario')">CONSULTAR FUNCIONARIO</button>
        <button class="tablinks" onclick="openCity(event, 'conagenda')">CONSULTAR AGENDAS</button>
        <button class="tablinks" onclick="openCity(event, 'hisservico')">HISTORICO DE SERVIÇOS</button>
    </div>

    <div id="cliente" class="tabcontent">

        <div class="tab">
            <button class="tablinks" onclick="openCity(events, 'cadastrarcliente')">CADASTRAR CLIENTE</button>
        </div>

        <div id="cadastrarcliente" class="tabcontent">
            sdhhdksjdhksahfkasfh
        </div>

       
    </div>



   

    

    
</div>

