@model SisHair.Presentation.Web.MVC.Old.Models.Conta.VerificarCodigo
@{
    Layout = "/Views/Shared/Master.cshtml";
}
@section styles{
    <link href="~/Content/css/style.css" rel="stylesheet" />
}

<div class="container col-12 mt-5">

    <div class="row offset-4">
        <div class="col-6">
            @using (Html.BeginForm("VerificarCodigo", "ContaCliente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group mt-4">
                    <label for="campo-usuario">CODIGO:</label>
                    @Html.TextBoxFor(m => m.CodigoRetorno, new { @class = "form-control" })
                </div>

                <div class="row mt-2 mr-5">
                    <div class="offset-5">

                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-success" name="btnEnviar" id="btnEnviar">
                                <i class="fa fa-save"> Confrimar</i>
                            </button>
                        </div>

                    </div>
                </div>
            }
        </div>
        <div class="col-md-4"></div>

    </div>
</div>

