@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Salao de beleza - sem nome ainda</title>

    <link href="~/Content/mdbBootstrap/css/mdb.min.css" rel="stylesheet">
    <link href="~/Content/mdbBootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <!--Bootstrap core CSS-->
    <link href="~/Content/mdbBootstrap/css/style.min.css" rel="stylesheet">

    @*<script type="text/javascript" src="~/Scripts/criarContaGoogle.js"></script>*@
    @RenderSection("styles", false)
</head>
<body>
    <div class="custom-scrollbar" style="display:none;"></div>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar navbar-dark bg-dark  scrolling-navbar">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/Home/Index">
                <strong>Salão e barbearia</strong>
            </a>
            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Sobre">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Servicos">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home">Agendamento</a>
                    </li>
                </ul>
                <!-- Right -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a href="/ContaCliente/Login" class="nav-link">
                            <i class="text-white">Área do cliente</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/ContaFuncionario/Login" class="nav-link">
                            <i class="text-white">Área restrita</i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- Navbar -->

    <div class="container-fluid">
        @RenderBody()
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small stylish-color-dark pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 mx-auto">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contato</h5>
                    <a href="tel:47-4444-2121">Telefone Fixo: (47)4444-2121</a>
                    <hr />
                    <a href="tel:47-99988-6755">Celular/WhatsApp: (47) 99988-6755</a>
                    <hr />
                    <p>Email: salao@beleza.com</p>
                    <hr />
                    <p>Redes sociais</p>
                    <p>
                        <a class="white-text fa fa-facebook-official" href="https://www.facebook.com/"> Facebook</a>
                    </p>
                    <p>
                        <a class="white-text fa fa-instagram" href="https://www.instagram.com/?hl=pt-br"> Instagram</a>
                    </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-7 mx-auto">
                    <a class="white-text">Nossa loja</a>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <hr>

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">Área do cliente</h5>
            </li>
            <li class="list-inline-item">
                <a href="#!" class="btn btn-danger btn-rounded">Entre!</a>
            </li>
        </ul>
        <!-- Call to action -->

        <hr>

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/">
                    <i class="fa fa-facebook pr-1"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1" href="https://wwww.twitter.com">
                    <i class="fa fa-twitter"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1">
                    <span class="fa fa-instagram"> </span>
                </a>
            </li>
        </ul>
        <!-- Social buttons -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2018 Copyright: Desenvolvido por: Silício E21 Softwares

        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="~/Scripts/pnotify.custom.min.js"></script>
    <script src="~/Content/jquery.mask.js"></script>
    @RenderSection("scripts", false)

    <script src="~/Scripts/contacliente/indexfuncionario.js"></script>
    @*<script src="~/Scripts/fullcalendar/moment.min.js"></script>
        <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>*@
    <script src="~/Scripts/avaliacao/avaliacao.js"></script>
    @*<script src="~/Scripts/contacliente/criarContaAux.js"></script>*@
    @*<script src="~/Scripts/additional-methods.min.js"></script>
        <script src="~/Scripts/messages_pt_BR.js"></script>*@
    
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/Content/mdbBootstrap/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/Content/mdbBootstrap/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/Content/mdbBootstrap/js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        new WOW().init();
    </script>


    <!--<script src="~/Scripts/indexadm.js" type="text/javascript"></script>-->
</body>
</html>
