@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SisHAIR</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/pnotify.custom.min.css" rel="stylesheet" />

    @RenderSection("styles", false)
    <link href="~/Content/layout/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/layout/custom.min.css" rel="stylesheet" />

</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    @*<div class="profile clearfix">
                            <div class="profile_info">
                            </div>
                        </div>*@
                    <!-- /menu profile quick info -->
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">

                                <li>
                                    <a><i class="fa fa-calendar"></i> <b>AGENDAMENTOS</b> <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="/Agendamentos/Index">Minha Agenda</a>
                                        <li>

                                        <li>
                                            <a href="/Agendamentos/Solicitacoes">Solicitações</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a> <i class="fa fa-users"></i> <b>CLIENTES</b> <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="/Cliente/Cadastrar">Cadastro de Cliente</a>
                                        <li>

                                        <li>
                                            <a class="nav-link" href="/Cliente/Index">Consulta de Clientes</a>
                                        </li>
                                    </ul>
                                </li>

                                @if (Request.IsAuthenticated && User.IsInRole("Administrador"))
                                {
                                    <li>

                                        <a> <i class="fa fa-black-tie"></i> <b>FUNCIONÁRIOS</b> <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li>
                                                <a href="/Funcionarios/Cadastrar">Cadastro de Funcionário</a>
                                            <li>

                                            <li>
                                                <a href="/Funcionarios/Index">Consulta de Funcionários</a>
                                            </li>
                                            <li>
                                                <a href="/ContaFuncionario/Index">Usuários</a>
                                            </li>
                                        </ul>
                                    </li>
                                }

                                <li>
                                    <a> <i class="fa fa-cut"></i> <b>SERVIÇOS</b> <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="/Servicos/Cadastrar">Cadastro de Serviço</a>
                                        </li>
                                        <li>
                                            <a href="/Servicos/Index">Consulta de Serviços</a>
                                        </li>
                                    </ul>
                                </li>

                                @if (Request.IsAuthenticated && User.IsInRole("Administrador"))
                                {
                                    <li>
                                        <a> <i class="fa fa-briefcase"></i> <b>CARGOS</b> <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li>
                                                <a href="/Cargos/Cadastrar">Cadastro de Cargo</a>
                                            </li>
                                            <li>
                                                <a href="/Cargos/Index">Consulta de Cargos</a>
                                            </li>
                                        </ul>
                                    </li>
                                }

                                <li>
                                    <a> <i class="fa fa-book"></i> <b>HISTÓRICO</b> <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="/Caixa/Index">Histórico do Caixa</a>
                                        </li>

                                    </ul>
                                </li>

                                <li>
                                    <a> <i class="fa fa-line-chart"></i> <b>GRÁFICOS</b> <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="/Estatisticas/Agendamentos">Agendamentos</a>
                                        </li>
                                        <li>
                                            <a href="/Estatisticas/Funcionarios">Funcionários</a>
                                        </li>

                                    </ul>
                                </li>

                                <li>
                                    <a> <i class="fa fa-line-chart"></i> <b>AVALIAÇÕES</b> <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="/Avaliacoes/Index">Avaliaçoes dos usuários</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">

                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <img class="" src="~/fonts/logoSisHAIR.png" width="115" />

                        <ul class="nav navbar-nav navbar-right">

                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Usuário logado: @User.Identity.Name
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li>
                                        <form action="/ContaFuncionario/LogOff" method="GET">
                                            <button id="btnLogOff" name="btnLogOff" class="btn btn-default btn-block pull-right" type="submit"><i class="fa fa-sign-out pull-right"></i> Sair</button>
                                        </form>

                                        <form action="/ContaFuncionario/LogOff" method="GET">
                                                <a href="/Funcionarios/PerfilFuncionario">Perfil</a>
                                                >
                                        </form>
                                    </li>
                                </ul>
                            </li>

                            @* Exemplo de caixa de entrada *@
                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    SisHAIR - Desenvolvido por grupo de alunos do Entra21
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- Custom Theme Scripts -->
    <script src="~/Scripts/layout/jquery.min.js"></script>
    <script src="~/Scripts/layout/moment.min.js"></script>
    <script src="~/Scripts/layout/bootstrap.min.js"></script>
    <script src="~/Scripts/layout/custom.min.js"></script>
    <script src="~/Scripts/pnotify.custom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="~/Content/jquery.mask.js"></script>
    <script src="~/Content/mascara.js"></script>

    @RenderSection("scripts", false)
</body>
</html>
