@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MasterAdiministrador</title>
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />
    <link href="~/Content/css/style.css" type="text/css" rel="stylesheet" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="~/Content/fullcalendar/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <link href="~/Content/pnotify.custom.min.css" rel="stylesheet" />
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <div class="">
        <div class="sidebar" id="accordion">
            <nav class="sidebar-nav">

                <ul class="nav">
                    <div class="">
                        <div class="text-danger text-center">
                            <h3><label>Seja bem-vindo</label></h3>
                        </div>
                        <div class="text-center text-danger">
                            <label> @User.Identity.Name</label>
                        </div>
                    </div>
                    <div>

                        <hr class="bg-white" />
                    </div>
                    <form action="/ContaFuncionario/LogOff" method="GET">

                        <button id="btnLogOff" name="btnLogOff" class="btn btn-danger" type="submit">Logout</button>

                    </form>

                    <a class="nav-link text-danger" data-toggle="collapse" href="#agendamentos" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="fa fa-calendar"></span> <b>AGENDAMENTOS</b>
                        <li class="fa fa-angle-down "></li>
                    </a>
                    <div class="collapse" id="agendamentos" data-parent="#accordion">
                        <ul class="list-unstyled">
                            <li>
                                <a class="nav-link" href="/Agendamentos/Index">Minha Agenda</a>
                            </li>
                            <li>
                                <a class="nav-link" href="/Agendamentos/Solicitacoes">Solicitações</a>
                            </li>
                        </ul>
                    </div>

                    <a class="nav-link text-danger" data-toggle="collapse" href="#cliente" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="fa fa-users"></span> <b>CLIENTES</b>
                        <li class="fa fa-angle-down "></li>
                    </a>
                    <div class="collapse" id="cliente" data-parent="#accordion">
                        <ul class="list-unstyled">
                            <li>
                                <a class="nav-link" href="/Cliente/Cadastrar">Cadastro de Cliente</a>
                            </li>
                            <li>
                                <a class="nav-link" href="/Cliente/Index">Consulta de Clientes</a>
                            </li>
                        </ul>
                    </div>
                    @if (Request.IsAuthenticated && User.IsInRole("Administrador"))
                    {
                        <a class="nav-link text-danger" data-toggle="collapse" href="#funcionario" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="fa fa-briefcase"></span> <b>FUNCIONÁRIOS</b>
                            <li class="fa fa-angle-down "></li>
                        </a>
                        <div class="collapse" id="funcionario" data-parent="#accordion">
                            <ul class="list-unstyled">
                                <li>
                                    <a class="nav-link" href="/Funcionarios/Cadastrar">Cadastro de Funcionário</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="/Funcionarios/Index">Consulta de Funcionários</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="/ContaFuncionario/Index">Usuários</a>
                                </li>
                            </ul>
                        </div>
                    }
                    <a class="nav-link text-danger" data-toggle="collapse" href="#servico" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="fa fa-cut"></span> <b>SERVIÇOS</b>
                        <li class="fa fa-angle-down "></li>
                    </a>
                    <div class="collapse" id="servico" data-parent="#accordion">
                        <ul class="list-unstyled">
                            <li>
                                <a class="nav-link" href="/Servicos/Cadastrar">Cadastro de Serviço</a>
                            </li>
                            <li>
                                <a class="nav-link" href="/Servicos/Index">Consulta de Serviços</a>
                            </li>
                        </ul>
                    </div>

                    @if (Request.IsAuthenticated && User.IsInRole("Administrador"))
                    {
                        <a class="nav-link text-danger" data-toggle="collapse" href="#cargos" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="fa fa-cogs"></span> <b>CARGOS</b>
                            <li class="fa fa-angle-down "></li>
                        </a>
                        <div class="collapse" id="cargos" data-parent="#accordion">
                            <ul class="list-unstyled">
                                <li>
                                    <a class="nav-link" href="/Cargos/Cadastrar">Cadastro de Cargo</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="/Cargos/Index">Consulta de Cargos</a>
                                </li>
                            </ul>
                        </div>
                    }

                    <a class="nav-link text-danger" data-toggle="collapse" href="#hitorico" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="fa fa-book"></span> <b>HISTÓRICO</b>
                        <li class="fa fa-angle-down "></li>
                    </a>
                    <div class="collapse" id="hitorico" data-parent="#accordion">

                        <ul class="list-unstyled">
                            <li>
                                <a class="nav-link" href="/Caixa/Index">Histórico do Caixa</a>
                            </li>

                        </ul>
                    </div>

                </ul>
            </nav>
            <footer class="footer-copyright mb-4 ml-3">


                <div class="container mb-4">
                    <img src="~/fonts/logoSisHAIR.png" width="165px" />
                </div>
            </footer>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>
    @*<script src="~/Scripts/jquery-3.0.0.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    @*<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
    @*<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    <script src="~/Content/jquery.mask.js"></script>
    <script src="~/Scripts/login/index.js"></script>
    <script src="~/Content/mascara.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/simplepagination.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/fullcalendar/index.js"></script>
    <script src="~/Scripts/fullcalendar/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar/bootstrap.min.js"></script>
    <script src="~/Scripts/fullcalendar/fullcalendar.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/fullcalendar/pt-br.js"></script>
    <script src="~/Scripts/caixa/index.js"></script>
    <script src="~/Scripts/funcionario/index.js"></script>
    <script src="~/Scripts/pnotify.custom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="~/Scripts/additional-methods.min.js"></script>
    <script src="~/Scripts/messages_pt_BR.js"></script>
    <script src="~/Scripts/funcionario/validacao.js"></script>
    <script src="~/Scripts/tables/index.js"></script>
</body>
</html>
