@model TrabalhoTcc.Models.Avaliacao
@{
    Layout = null;
}
<div class="modal" tabindex="-1" role="dialog" id="modal-avaliacao">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agendar Solicitação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="AgendamentoId" name="AgendamentoId" value="@ViewBag.AvaliacaoId" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Avaliação: </label>
                            @Html.TextBoxFor(m => m.AvaliacaoUsuario, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AvaliacaoUsuario, "", new { @class = "text-danger" })
                            <div>
                            <label>De 0-5 Estrelas, qual é a chance de voltar novamente ao salão ?</label>
                            <fieldset class="rating">
                                <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"></label>
                            </fieldset>
                             </div>
                            <div>
                            <label>De 0-5 Estrelas, qual é sua nota para o seu Agendamento?</label>
                            <fieldset class="rating">
                                <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"></label>
                            </fieldset>
                            </div>
                            <div>
                            <label>De 0-5 Estrelas, qualifique como foi a sua experiência no salão?</label>
                            <fieldset class="rating">
                                <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"></label>
                            </fieldset>
                            </div>
                            <div>
                            <label>De 0-5 Estrelas, referente as condicões do estabelecimento, qualifique-nos!</label>
                            <fieldset class="rating">
                                <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"></label>
                            </fieldset>
                            </div>
                            <div>
                            <label>Você voltaria novamente para efetuar um outro agendamento?</label>
                            <!-- Material inline 1 -->
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
                                <label class="form-check-label" for="materialInline1">Sim</label>
                            </div>

                            <!-- Material inline 2 -->
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
                                <label class="form-check-label" for="materialInline2">Não</label>
                            </div>
                            </div>
                            <div>
                            <label>Você recomendaria esse agendamento para outra pessoa?</label>
                            <!-- Material inline 1 -->
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
                                <label class="form-check-label" for="materialInline1">Sim</label>
                            </div>

                            <!-- Material inline 2 -->
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
                                <label class="form-check-label" for="materialInline2">Não</label>
                            </div>
                            </div>

                        </div>                    
                    </div>
                </div>                
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modal-avaliar-salvar">Avaliar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
</div>

