
@{
    Layout = "/Views/Shared/Master.cshtml";
}
<div>
    <div class="row">
        <div class="col-md-4">
            <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="image" style="width:40%">
            <div class="card">
                <div class="card-body">Lorem ipsum...                    
                </div>
            </div>
        </div>
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.google.com.br/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiZouun-u_cAhVFOZAKHbpaAJYQjRx6BAgBEAU&url=https%3A%2F%2Fwww.segredosdesalao.com.br%2Fnoticia%2Fsalao-solidario-acao-oferece-cortes-com-desconto-para-ajudar-no-combate-a-aids_a685%2F1&psig=AOvVaw2ieryvbhei0E0qFz2gmHB7&ust=1534453347533063" alt="Corte 1">
                </div>
                <div class="carousel-item">
                    <img src="https://www.google.com.br/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwix5JLG-u_cAhWMGZAKHTJGDS0QjRx6BAgBEAU&url=https%3A%2F%2Fbr.depositphotos.com%2F88899378%2Fstock-photo-handsome-hairdresser-making-highlighting-coloring.html&psig=AOvVaw2ieryvbhei0E0qFz2gmHB7&ust=1534453347533063" alt="Corte 2">
                </div>
                <div class="carousel-item">
                    <img src="https://www.google.com.br/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwitj8fO-u_cAhUFTZAKHaPxCIoQjRx6BAgBEAU&url=http%3A%2F%2Fblog.mundomidia.com%2F5-formas-de-inovar-o-seu-salao-de-beleza-e-atrair-mais-clientes%2F&psig=AOvVaw2ieryvbhei0E0qFz2gmHB7&ust=1534453347533063"alt="Corte 3">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
    </div>

</div>
