@{
    Layout = "/Views/Shared/Master.cshtml";
}
<div>
    <div class="row">
        <div class="col-md-4">
            <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="image" style="width:40%">
            <div class="card">
                <div class="card-body">Lorem ipsum...                    
                </div>
            </div>
            <hr />
        </div>
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://bit.ly/2MBktf7" alt="Corte 1">
                </div>
                <div class="carousel-item">
                    <img src="https://scstylecaster.files.wordpress.com/2015/04/haircut3.jpg" alt="Corte 2">
                </div>
                <div class="carousel-item">
                    <img src="https://www.michellemarshallsalon.co.uk/files/2017/08/salon-men.jpg" alt="Corte 3">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
            <hr />                                     
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Sobre nós</label>
            </div>

        </div>
    </div>

</div>
